<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
   
    <add key="oauth_consumer_key" value="Ta5i0tVqcptcZgp13Nmd9Uk32" />
    <add key="oauth_consumer_secret" value="lh8Xsm9CYAExUcaBGudreZpu1vh2MnGeVDlGXYIApvbGweiwQh" />
    <add key="oauth_token" value="19166807-97LIcj8GaDRe99ADjz3cE7yVPTN97ViomJ4UPVEHN" />
    <add key="oauth_token_secret" value="S7v4FqRKuwa2WYNsNuPByLGTNra86ke16Ori9CflspPtd" />
    <add key="resource_url" value="https://stream.twitter.com/1.1/statuses/filter.json"/>
    <!--Extended Information adds "Tweet Text" and "Author"-->
    <add key="send_extended_information" value="true"/> 
    <add key="twitter_keywords" value="diamond,painting|trump,biden"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
